body {
  padding: 3px;
  font: 14px cursive, serif, sans-serif;;
  background-color: rgb(80, 80, 80);
}

#error-message {
  display: none;
  width: 100%;
  height: 100%;
  background-color:rgb(80, 80, 80)
}

@media only screen and (max-width: 1200px) {
  #error-message {
       display: block;
  }
}